<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>BookCase Library</title>
        <link rel="stylesheet" href="style.css"><!-- TODO - CSS -->
    </head>
    <body>
        {% if error %}
        <div> {{ error }}</div>
        {% endif %}
        
        <form method="POST" action="{{ url_for('index') }}"><!--    akcja dla funkcji index()  -->
            {{ form.csrf_token }}
            {{ form.title.label    }} : {{ form.title }}    <br/>
            {{ form.id.label       }} : {{ form.id }}       <br/>
            {{ form.availble.label }} : {{ form.availble }} <br/>
            {{ form.condition.label }}: {{ form.condition }}<br/>
            <input type="submit" value= "Add old in html">
        </form>
        <br/>
    <!--########################################################################-->
        <form action="{{ url_for('index') }}" method="POST" id="">
            <!--  <select value =" zapisane" name="books" >    --> 
                {% for x in books %}
                    <li>  <option value="{{ x }}">Tytuł:  {{ x.title }}   Na półce: {{ x.availble}}   Stan : {{x.condition }} ID::{{x.id}}</option></li>
                {% endfor %}
            <!--</select>  -->
        </form>
    <!--########################################################################-->
        <br/>
        <a href="/update"> to update html template </a>
        <br/> 
    <!--########################################################################-->
        <br/>
        <a href="/remove"> to remove html template  </a>
        <br/>      
    <!--########################################################################-->
    </body>
</html>