<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title> Remove Form Side </title>
        <link rel="" href="">       <!-- TODO - CSS -->
</head>
<!--########################################################################-->

<body>
<!--########################################################################-->
        <h2>Chose position  for remove</h2><br/>
<!--########################################################################-->

    
            {% for x in books %}
            Tytuł:  {{ x.title }}   Na półce: {{ x.availble}}   Stan : {{x.condition }} ID::{{x.id}}
            <a href="{{ url_for ('afterremove' ,books_id = x.id ) }}">Delete</a><br />

            {% endfor %}
  
<!--########################################################################-->
</body>