<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STR UPDATE FORM</title>
</head>
<body>
    <h2>Strona formularza  def update </h2>

    <form method="POST" action="{{ url_for ('ChoseUpdate') }}">
        
            {{ form.csrf_token }}
            {{ form.title.label    }} : {{ form.title }}    <br/>
            {{ form.id.label       }} : {{ form.id }}       <br/>
            {{ form.availble.label }} : {{ form.availble }} <br/>
            {{ form.condition.label }}: {{ form.condition }}<br/>
        
        <input type="submit" value="Save Changes ">
        <br/><br/>
    </form>  
    <!--########################################################################-->
    <form action="{{ url_for('ChoseUpdate') }}" method="POST">
        <select>   
            {% for x in books %}
                <li><option> Tytuł: {{ x.title }}  Na półce: {{ x.availble}}  Stan : {{x.condition }} ID::{{x.id}}</li></option>
            {% endfor %}
        </select> 
        <input type="submit" value= "Chose">
    </form>
<!--########################################################################-->

</body>
</html>




