<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STR UPDATE FORM</title>
</head>
<body>
    <h2>Strona formularza  def update </h2>

    <form method="POST" action="{{ url_for ('update') }}" option >
        
            {{ form.csrf_token }}
            {{ form.title.label    }} : {{ form.title }}    <br/>
            {{ form.availble.label }} : {{ form.availble }} <br/>
            {{ form.condition.label }}: {{ form.condition }}<br/>
        <input type="submit" value="Save Changes ">
        <br/><br/>
    </form>  

</body>
</html>




